@import "../../styles/variables";

.landing {
  background-color: $primary-color;
  direction: ltr;
  color: $white-text;
}

.details {
  word-spacing: 1px;
  @media (max-width: 991px) {
    & > div:nth-child(2) {
      margin-left: 85px;
    }
  }
}

.year {
  font-family: adoody;
  font-size: 1.25rem;
}

.branding .year {
  padding-top: 14px;
}

.first-work {
  padding: 0 30px;
  // font-size: 0.8rem;
  @media (max-width: 767px) {
    order: 3;
    & + div {
      padding-right: 0;
      margin-top: 70px;
    }
  }
}

.age {
  @media (max-width: 991px) {
    font-size: 6rem;
    transform: translateY(-10px);
  }
  @media (min-width: 992px) {
    transform: translateY(-25px);
    font-size: 9rem;
  }
  line-height: 1;
  font-weight: bolder;
}

.yellow-box {
  background-color: $tertiary;
  height: 100px;
  @media (max-width: 991px) {
    height: 80px;
  }
  flex-grow: 1;
}

.first-work-description {
  font-size: 1.4rem;
  word-spacing: 1px;
}
// .first-work-date {
// }

.bg-pink {
  background-color: $secondary-color;
}

.birthyear {
  font-size: 1rem;
  transform: translateY(-25px);
}

.yellow-box {
  background-color: $tertiary;

  p {
    white-space: nowrap;
    transform: rotate(90deg) translate(95px, -70px);
  }

  .banner-atom {
    position: absolute;
    bottom: -60px;
    left: -50px;
  }
}

.small-banner2 {
  top: -55px;
  left: 0 img {
    width: 100px;
  }
}
