@import "../../styles/variables";

form {
  border: solid 6px $primary-color;
  border-radius: 12px;
  box-shadow: 25px 25px $primary-color;
  position: relative;

  .inputs {
    padding: 25px 30px;
    column-gap: 20px;
    row-gap: 20px;
    .input {
      width: calc(50% - 10px);

      @media (max-width: 991px) {
        width: 100%;
      }
    }
    input,
    textarea {
      border: solid $primary-color 1px;
      padding: 10px;
      align-items: center;
      background-color: $white-text;
    }
    input::placeholder,
    textarea::placeholder {
      color: $primary-color;
      font-weight: lighter;
    }

    input:focus-visible,
    textarea:focus-visible {
      border-radius: 0 !important;
      outline: none;
      box-shadow: none;
    }

    textarea {
      resize: none;
      height: 130px;
    }

    .submit {
      border: none;
      background-color: $primary-color;
      color: $white-text;
      font-size: 1rem;
      width: 130px;
      height: 50px;
      font-weight: 600;
      transition: all 0.3s ease;
      &.hovered-submit {
        background-color: $secondary-color !important;
        font-weight: bold;
      }
      &.ar {
        font-size: 2rem !important;
      }
      span {
        font-size: 1.2rem;
        vertical-align: middle;
        font-weight: 500;
      }
    }
  }
}

.ltr-icon::before {
  content: "";
  position: absolute;
  background-image: url("../../assets/image/form.svg");
  width: 136px;
  height: 136px;
  background-repeat: no-repeat;
  bottom: -70px;
  left: -50px;
}

.rtl-icon::after {
  right: -58px !important;
  content: "";
  position: absolute;
  background-image: url("../../assets/image/form.svg");
  width: 136px;
  height: 136px;
  background-repeat: no-repeat;
  bottom: -70px;
}

.header {
  background-color: $primary-color;
  color: $white-text;
  padding: 5px 5px 10px 10px;

  h3 {
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0;
  }
}

.close,
.minimize {
  border: none;
  background-color: transparent;
  position: relative;
  width: 40px;
  height: 100%;
}
.close {
  &::after,
  &::before {
    content: "";
    position: absolute;
    background-color: #fff2e8;
    top: 10%;
    right: 15px;
    width: 1.4px;
    height: 20px;
    transition: all ease-in 0.2s;
  }
  &::before {
    transform: rotate(-45deg);
  }
  &::after {
    transform: rotate(45deg);
  }

  &:hover::before {
    transform: rotate(0deg);
    background-color: $secondary-color;
  }
  &:hover::after {
    transform: rotate(90deg);
    background-color: $secondary-color;
  }
}

.minimize::after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: $white-text;
  position: absolute;
  top: 50%;
}
