@import "../../styles/variables";

.navbar {
  background-color: #140f13;
  padding: 20px 0;
}


.language-btn {
  color: #fff2e8;
  border: none;
  background-color: unset;
  font-size: .75rem !important;
padding: 0 3px;
height: 18px;
}

.language-btn-active {
  color: $tertiary;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.dropdown-menu {
  background-color: #140f13 !important;
  width: 100%;
  border-radius: 0;
  border: none;
}
.dropdown-toggle::after {
  content: none !important;
}


.navbar.ar{
  .language-btn{
    font-size: 17px !important;
  }
}