@import "../../styles/variables";

.work {
  background-color: $primary-color;
  padding-top: 100px;
  overflow-x: hidden;

  .title {
    color: $tertiary;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    margin-bottom: 15px;
  }
}

.carousel {
  background-color: $tertiary;
  padding: 2px 0;
  @media (min-width: 992px) {
    padding: 2px 18px;
  }
}

.smile {
  z-index: 2;
  top: -70px;
  right: 100px;
  @media (max-width: 991px) {
    right: -35px;
  }
}
@media (min-width: 992px) {
  :global(.carousel-control-next) {
    transform: translateX(-50px);

    width: fit-content;
  }
  :global(.carousel-control-prev) {
    transform: translateX(50px);
    width: fit-content;
  }
}

// :global(.carousel-item) {
//   transition: none !important;
// }

:global(.carousel-control-next) {
  right: -10px;
}

:global(.carousel-control-prev) {
  left: -10px;
}

:global(.carousel-control-next),
:global(.carousel-control-prev) {
  opacity: 1;
  height: 40px;
  top: 46%;
  padding: 5px;

  &:hover {
    background-color: $tertiary;
  }

  img {
    height: 20px;
  }

  img:last-child {
    display: none; // Hide the black arrow by default
  }

  &:hover img:first-child {
    display: none; // Hide the default arrow on hover
  }

  &:hover img:last-child {
    display: block; // Show the black arrow on hover
    background-color: $tertiary;
  }
}

:global(.carousel-inner) {
  padding-bottom: 50px;
}

.work.ar {
  .title {
    font-size: 1.5rem;
  }
}

.content {
  left: 5px;
  right: 40px;
  height: 50px;
  bottom: 20px;

  @media (min-width: 992px) {
    left: 30px;
  }

  .signature {
    width: 140px;
    height: 50px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px;

    img:nth-child(2) {
      display: none;
    }

    span {
      opacity: 0;
      font-size: 0.5rem;
      color: $primary-color;
    }

    &:hover {
      background-color: $tertiary;
      img:first-child {
        display: none !important;
      }
      img:nth-child(2) {
        display: block;
      }

      span {
        opacity: 1;
      }
    }
  }

  .links {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 50%;
    a {
      text-decoration: none;
      margin: 0 10px;
      font-weight: bolder;
      padding: 5px 20px;
      font-size: 0.75rem;
    }

    a:hover {
      background-color: $tertiary;
      color: $primary-color !important;
    }

    &.black-links a {
      color: $primary-color !important;
    }

    &.yellow-links a {
      color: $tertiary;
    }
  }

  .view{
    color: $tertiary;
    right: -30px;
    bottom:10px;
    cursor: pointer;
    span{
      font-size: 1.125rem;
    }
  }

  .project-details {
    height: 30px;
    transform: translateY(30px);
    div {
      color: $tertiary;
      font-size: .75rem;
    }

    div:last-child {

      text-align: end;
      }

    @media (min-width: 992px) {
      div:first-child,
      div:last-child {
        width: 25%;
      }
    }
  }
}
